---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import SubjectView from '../../components/subjects/SubjectView.astro';

export async function getStaticPaths() {
  const subjects = await getCollection('gy25-subjects');
  return subjects.map(subject => ({
    params: { subjectCode: subject.data.code.toLowerCase() },
    props: { subject }
  }));
}

const { subject } = Astro.props;
---

<Layout title={`${subject.data.name} - GY25`}>
  <div class="max-w-4xl mx-auto px-4 mt-8 mb-8">
    <SubjectView subject={subject} />
  </div>
</Layout>
